<div class="header">
	<div class="placa-branca">
		<div class="lista">
			<div class="row">
				<div class="col-xs-1">
					<input class="" type="checkbox" id="checkAll" name="check">
				</div>
				<div class="col-xs-2">
					<i class="fa fa-user-o" aria-hidden="true"></i>
				</div>
				<div class="col-xs-2">
					<label>NAME</label>
				</div>
				<div class="col-xs-2">
					<label>EMAIL</label>
				</div>
				<div class="col-xs-2">
					<label>VENCIMENTO</label>
				</div>
				<div class="col-xs-2">
					<label>VALOR</label>
				</div>
			</div>
			<div class="row" ng-repeat="usuario in usuarios">
				<hr>
				<div class="col-xs-1">
					<input type="checkbox" id="checkItem" name="check">
				</div>
				<div class="col-xs-2">
					<img width="100px" class="img-circle image-list" ng-src="/img/{{usuario.foto}}">
				</div>
				<div class="col-xs-2">
					<span>{{usuario.nome}}</span>
				</div>
				<div class="col-xs-2">
					{{usuario.email}}
				</div>
				<div class="col-xs-2">
					{{usuario.data_vencimento}}
					
				</div>
				<div class="col-xs-2">
					{{usuario.valor}}
				</div>
				<div class="col-xs-1">
					<a ng-href="/header/{{usuario.id}}"><i class="fa fa-search" aria-hidden="true"></i></a>
					<a ng-click="excluir(usuario.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>